<div class="row">
    {{#each coursework}}
    <div class="col-md-12">
        <h1>{{code}}: {{title}}</h1>
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
             {{#each this.coursework}}
                <tr>
                    <td width="78%">{{#if url}}<a href="{{#if spec}}/coursework/specification/{{spec}}{{else}}{{url}}{{/if}}">{{title}}</a>{{else}}{{title}}{{/if}}</td>
                    {{#if mark}}
                    <td>
                        <div title="{{mark.mark}} out of {{mark.total}}{{#if late}} - This work was submitted late{{#ifCond (markPass mark) '==' true}} so is capped at 40%{{/ifCond}}{{/if}}" class="progress" style="margin-bottom:5px;">
                        {{#ifCond (markPass mark) '&&' late}}
                          <div class="progress-bar animated-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" data-width="40" style="width: 0%;">
                          40%
                          </div>
                          <div class="progress-bar progress-bar-warning animated-bar" role="progressbar" aria-valuenow="{{math (getMarkPercentage mark) '-' '40'}}" aria-valuemin="0" aria-valuemax="100" data-width="{{math (getMarkPercentage mark) '-' '40'}}" style="width: 0%;">
                            {{math (getMarkPercentage mark) '-' '40'}}%
                          </div>
                        {{else}}
                          <div class="progress-bar animated-bar {{#ifCond (markPass mark) '==' false}} progress-bar-warning{{/ifCond}}" role="progressbar" aria-valuenow="{{getMarkPercentage mark}}" aria-valuemin="0" aria-valuemax="100" data-width="{{getMarkPercentage mark}}" style="width: 0%;">
                            {{getMarkPercentage mark}}%
                          </div>
                        {{/ifCond}}{{!late and mark > 40}}
                        </div>
                        <a href="{{#if general}}feedback/general/{{general}}{{/if}}" data-toggle="modal" data-target="#feedback-modal" class="btn btn-default btn-xs feedback-button {{#unless general}}disabled{{/unless}}" role="button">General Feedback</a>
                        <a href="{{#if feedback}}feedback/personal/{{feedback}}{{/if}}" data-toggle="modal" data-target="#feedback-modal"  class="btn btn-default btn-xs feedback-button {{#unless feedback}}disabled{{/unless}}" role="button">Personal Feedback</a>
                    </td>
                    {{else}}
                        {{#if submitted}}
                        {{#if late}}
                    <td><span style="color:red" title="{{formatDate submitted}} - This coursework was submitted late!">Submitted {{dueDate submitted}}</span></td>
                        {{else}}
                    <td><span title="{{formatDate submitted}}">Submitted {{dueDate submitted}}</span></td>
                        {{/if}}{{!/late}}
                        {{else}}{{!not submitted}}
                            {{#dateAfter due}}
                                {{#if late}}
                    <td style="color:red"><span title="{{formatDate due}}">Due {{dueDate due}}</span></td>
                                {{else}} {{#if extension}}
                    <td style="color:green"><span title="{{formatDate due}}">Due {{dueDate due}}</span></td>
                                    {{else}}
                    <td><span title="{{formatDate due}}">Completed {{dueDate due}}</span></td>
                                    {{/if}}{{!/extension}}
                                {{/if}}{{!/late}}
                            {{else}}
                    <td><span title="{{formatDate due}}">Due {{dueDate due}}</span></td>
                            {{/dateAfter}}{{!/dateAfter due}}
                        {{/if}}{{!/submitted}}
                    {{/if}}{{!/mark}}
                </tr>
            {{/each}}
            </tbody>
        </table>

        <div id="feedback-modal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
    {{/each}}
</div>
