<div class="row">
    {{#each coursework}}
    <div class="col-md-12">
        <h1>{{code}}: {{title}}</h1>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
             {{#each this.coursework}}
                <tr>
                    <td width="70%">{{#if url}}<a href="{{url}}">{{title}}</a>{{else}}{{title}}{{/if}}</td>
                    {{#if mark}}
                    <td>
                        <div class="progress">
                          <div title="{{mark.mark}} out of {{mark.total}}" class="progress-bar animated-bar" role="progressbar" aria-valuenow="{{getMarkPercentage mark}}" aria-valuemin="0" aria-valuemax="100" data-width="{{getMarkPercentage mark}}" style="width: 0%;">
                            {{getMarkPercentage mark}}%
                          </div>
                        </div>
                    </td>
                    {{else}}
                        {{#if submitted}}
                            <td title="{{formatDate submitted}}">Submitted {{dueDate submitted}}</td>
                        {{else}}
                        <td title="{{formatDate due}}">Due {{dueDate due}}</td>
                        {{/if}}
                    {{/if}}
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    {{/each}}
</div>