<div class="row">
    {{#each stages}}
    <div class="col-md-12">
        <h1>Stage {{stage}}{{#if mark}} - {{mark}}%{{/if}}</h1>
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Module</th>
                    {{#if showAttempt}}
                    <th>Attempt</th>
                    <th>Attempt Mark</th>
                    {{/if}}
                    <th>Final Mark</th>
                    <th>Attendance</th>
                </tr>
            </thead>
            <tbody>
             {{#each modules}}
                <tr>
                    <td><a title="{{#if name}}{{code}} - {{/if}}{{credits}} Credits" href="/modules/{{year}}/{{../stage}}/{{id}}">{{#if name}}{{name}}{{else}}{{code}}{{/if}}</a></td>
                    {{#if showAttempt}}
                    <td>{{attempt}}</td>
                    <td>{{attemptMark}}</td>
                    {{/if}}
                    <td>{{finalMark}} - {{decision}}</td>
                    <td>{{#gte attendance.attendance 0}}{{attendance.attendance}}%{{else}}-{{/gte}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    {{/each}}
</div>
