<ol class="breadcrumb">
    <li><a href="/modules">Modules</a></li>
    <li class="active">{{module.code}}</li>
</ol>
<h1>{{#if module.name}}{{module.name}}{{else}}{{module.code}}{{/if}} Module Overview</h1>
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th class="col-xs-5 col-sm-6">Name</th>
            <th class="col-xs-5 col-sm-4">Mark</th>
            <th class="col-xs-2 col-sm-2">Feedback</th>
        </tr>
    </thead>
    <tbody>
    {{#if module.exams}}
        <tr>
            <td colspan="3" style="text-align:center;background-color:#dd4814;font-weight:bold;color:#ffffff;">Exams</td>
        </tr>
    {{/if}}
    {{#each module.exams}}
        <tr>
            <td><span class="coursework">{{name}}</span> - <span class="percentage">{{percentage}}</span>% of module</td>
            <td>{{#if mark}}<span class="mark">{{mark}}</span>{{else}}<span class="mark">{{#if userMark}}{{userMark}}{{else}}40{{/if}}</span>% <input class="slider" id="mk10{{@index}}" data-slider-id='mk10{{@index}}Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="{{#if userMark}}{{userMark}}{{else}}40{{/if}}" data-slider-tooltip="hide" />{{/if}}</td>
            <td>{{#if feedback}}<a href="/modules/feedback/{{feedback.paperId}}/{{feedback.stid}}" data-toggle="modal" data-target="#feedback-modal"  class="btn btn-default btn-xs feedback-button" role="button">View Feedback</a>{{/if}}</td>

        </tr>
    {{/each}}
    {{#if module.coursework}}
        <tr>
            <td colspan="3" style="text-align:center;background-color:#dd4814;font-weight:bold;color:#ffffff;">Coursework</td>
        </tr>
    {{/if}}
    {{#each module.coursework}}
        <tr>
            {{#eq coursework.length 0}}
            <td><span class="coursework">{{name}}</span> - <span class="percentage">{{percentage}}</span>% of module</td>
            <td>
                <span class="mark">{{#if userMark}}{{userMark}}{{else}}40{{/if}}</span>% <input class="slider" id="mk20{{@index}}" data-slider-id='mk20{{@index}}Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="{{#if userMark}}{{userMark}}{{else}}40{{/if}}" data-slider-tooltip="hide" />
            </td>
            <td></td>
            {{else}}
            <td colspan="3" style="background-color:#c8c4bf"><strong>{{name}} - {{percentage}}% of module</strong></td>
            {{/eq}}
        </tr>
    {{#each coursework}}
        <tr>
            <td><span class="coursework">{{name}}</span> - <span class="percentage">{{percentage}}</span>% of module</td>
            <td>
            {{#if mark}}
            <div title="{{mark.mark}} out of {{mark.total}}" class="progress" style="margin-bottom:5px;">
                <div class="progress-bar animated-bar {{#ifCond (markPass mark) '==' false}} progress-bar-warning{{/ifCond}}" role="progressbar" aria-valuenow="{{mark.percent}}" aria-valuemin="0" aria-valuemax="100" data-width="{{mark.percent}}" style="width: 0%;">
                <span class="mark">{{mark.percent}}</span>%
                </div>
            </div>
            {{else}}
            <span class="mark">{{#if userMark}}{{userMark}}{{else}}40{{/if}}</span>% <input class="slider" id="mk30{{@index}}" data-slider-id='mk30{{@index}}Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="{{#if userMark}}{{userMark}}{{else}}40{{/if}}" data-slider-tooltip="hide" />
            {{/if}}
            </td>
            <td>{{#if feedback}}<a href="/modules/feedback/{{feedback}}" data-toggle="modal" data-target="#feedback-modal"  class="btn btn-default btn-xs feedback-button" role="button">View Feedback</a>{{/if}}</td>
        </tr>
    {{/each}}
    {{/each}}
    </tbody>
    <tfoot>
    <tr>
        <td><strong>Total</strong></td>
        <td>
            <div class="progress" style="margin-bottom:5px;">
                <div id="totalProgress" class="progress-bar progress-bar-success" style="transition: none 0s ease 0s !important;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    <span id="total">0</span>%
                </div>
            </div>
        </td>
    </tr>
  </tfoot>
</table>

<div id="feedback-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->