<h1>{{coursework.module.name}} - {{coursework.module.name}}</h1>
<h2>{{coursework.title}}</h2>
<h3>{{coursework.due}} - {{coursework.mark}}</h3>
<div>
    {{{coursework.spec}}}
    <p style="float:right;">Last updated <strong>{{formatDate coursework.updated}}</strong></p>
</div>