<h1>Attendance</h1>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th>Module Code</th>
                <th>Module Name</th>
                <th>Attendance %</th>
                <th>Attended / Total</th>
            </tr>
            {{#each modules}}
            <tr>
                <td>{{code}}</td>
                <td>{{title}}</td>
                <td>{{#gte attendance 0}}
                    <div class="progress">
                      <div class="progress-bar animated-bar" role="progressbar" aria-valuenow="{{attendance}}" aria-valuemin="0" aria-valuemax="100" data-width="{{attendance}}" style="width: 0%;">
                        {{attendance}}%
                      </div>
                    </div>
                    {{else}}-{{/gte}}</td>
                <td>{{#gte attended 0}}{{attended}}/{{total}}{{else}}-{{/gte}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>