<div class="page-header">
    <div class="pull-right form-inline">
        <div class="btn-group">
            <button class="btn btn-primary" data-calendar-nav="prev">&lt;&lt; Prev</button>
            <button class="btn" data-calendar-nav="today">Today</button>
            <button class="btn btn-primary" data-calendar-nav="next">Next &gt;&gt;</button>
        </div>
        <div class="btn-group">
            <button class="btn btn-warning" data-calendar-view="year">Year</button>
            <button class="btn btn-warning active" data-calendar-view="month">Month</button>
            <button class="btn btn-warning" data-calendar-view="week">Week</button>
            <button class="btn btn-warning" data-calendar-view="day">Day</button>
        </div>
    </div>
    <h3></h3>
</div>
<div class="col-md-9">

    <div id="calendar"></div>
</div>
<div id="events-list" class="col-md-3">
    <h3>Upcoming Coursework</h3>
    <hr />
    {{#if coursework.empty}}
    <p>You have no upcoming coursework</p>
    {{else}}
    {{#each coursework.result}}
    <div>
        <p>
            <strong><span title="{{module}}">{{code}}</span> - {{#if url}}<a href="{{#if spec}}/coursework/specification/{{spec}}{{else}}{{url}}{{/if}}">{{title}}</a>{{else}}{{title}}{{/if}}</strong><br />
            <span class="small" title="{{formatDate due}}">Due {{dueDate due}}</span>
        </p>
    </div>
    {{/each}}
    {{/if}}
</div>